<<<<<<< HEAD

=======
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

*{
  font-family: 'open sans', sans-serif;
}
.text-blue {
  color: #3C669E;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
} */

/* #container {
  padding: 50px;
} */

/* .read-the-docs {
  color: #888;
} */

.content { 
  padding: 100px;

}

/* ========================= */
>>>>>>> Quy
.header-fixed {
  /* background-color: #ffccd5;  */
  position: fixed; /* Cố định header */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Đảm bảo luôn hiển thị trên các phần khác */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
}

.navbar-nav {
  display: flex;
<<<<<<< HEAD
  align-items: center; 
=======
  align-items: center; /* Căn giữa theo chiều dọc */
>>>>>>> Quy
  justify-content: center;
}

.navbar-nav .nav-link {
<<<<<<< HEAD
  font-size: 20px;
  font-weight: 500;
  margin: 0 30px;
  display: flex;
  align-items: center; 
}

.navbar-nav .nav-link.active {
  font-size: 21px;
  font-weight: bold; 
  color: #006CB0; 
  text-decoration: underline; 
  text-decoration-color: #006CB0; 
  text-decoration-thickness: 3px; 
=======
  font-size: 23px;
  font-weight: 500;
  margin: 0 30px; /* Tạo khoảng cách giữa các chữ */
  display: flex;
  align-items: center; /* Đảm bảo chữ trong NavLink luôn giữa */
}

.navbar-nav .nav-link.active {
  font-size: 25px;
  font-weight: bold;  /* Làm chữ đậm */
  color: #006CB0; /* Màu chữ xanh dương */
  text-decoration: underline; /* Gạch chân */
  text-decoration-color: #006CB0; /* Màu gạch chân xanh dương */
  text-decoration-thickness: 3px; /* Độ dày của gạch chân */
>>>>>>> Quy
  text-underline-offset: 10px;
}

.navbar-nav .nav-link:hover {
<<<<<<< HEAD
  color: #277DCD; 
=======
  color: #277DCD; /* Khi hover, đổi sang màu cam nhạt */
>>>>>>> Quy
}

.logo-img {
  margin-left: 20px;
<<<<<<< HEAD
  width: 180px;  
  height: 50px;  
  object-fit: contain; 
}

.button-custom {
  font-size: 15px;
}

.title-footer {
  text-decoration: underline; 
  text-decoration-color: #F9AB52; 
  text-decoration-thickness: 2px; 
  text-underline-offset: 10px;
  margin-bottom: 25px;
}


.icon-custom {
  width:15px;
  height:15px;
  margin-right: 5px;
  margin-left: 10px;
}

=======
  width: 200px;  
  height: 80px;  
  object-fit: contain; /* Đảm bảo không méo hình */
}

.button-custom {
  font-size: 17px;
}

.slider {
    margin-top: 70px;
}

#demo .carousel-picture {
    width: 100vw;
    height: 33vw;
}

.search-tool {
    width: 85vw;
    margin: 20px auto ;
    padding: 0;
    box-shadow: 9px 9px 12px #ccc;
}
/* quy */
.slider {
  margin-top: 90px;
}

#demo img {
  width: 100vw;
  height: 30vw;
}

.search-tool {
  width: 85vw;
  margin: 20px auto ;
  padding: 0;
  box-shadow:1px 1px 13px 5px #ccc
}
  /* .row-search-tool {
    display: flex;
  } */

/* .search-input {
  width: 25%;
  height: 50px;
} */

/* .input-group-text {
  background-color: #fff;
  border: 0;
  padding: 1;
} */

.input-group-text {
    height: 35px;
    margin: 7px 0;
  background-color: #fff;

  border: 0cap;

  padding: 1;
}

/* .input-group {
  position: relative;
} */
/* ----------------- HOVER ----------------- */

  
    
.card:hover, .search-tool:hover  {
  cursor: pointer;
  transform: scale(1.02);
  
}

.card-hover {
  transition: transform 0.3s ease;
}

.card-hover:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.search-tool:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.image-container {
  position: relative;
  width: 100%;
  height: 15vw; /* Giữ chiều cao cố định giống yêu cầu */
  overflow: hidden;
}

.hinh1 {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease;
}

.hinh2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.card-hover:hover .hinh1 {
  opacity: 0;
}

.card-hover:hover .hinh2 {
  opacity: 1;
}
.card-title {
  height: 70px;
  overflow: hidden;
  font-weight: 600;
  font-size: 22px;
  color: #3C669E;
  line-height: 1.5  ;
  /* margin-bottom: 26px; */
}

.tour-price {
  height: 40px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.discount-price {
  color: orange;
  font-weight: 600;
}

.price {
  color: #8d8a8acc; /* Màu xám nhạt với độ trong suốt */
  line-height: 40px;
  text-decoration: line-through;
  margin-left: 10px;
}

/* chi tiet tour */
.cap1:hover{
  color: #DC3545;
  cursor: pointer;
  transform: scale(1.01);
  

}

/* mo ta */
.box {
  border-left: 2px dotted #3C669E;
  padding: 20px 0 0 18px;
}

.schedule {
  color: white;
  background-color: #F9AB52;
  font-weight: bold;
  padding: 5px 0 5px 15px  ;
  border-radius: 20px;
  width: 50%;
  position: relative;
  border-left: dotted 2px #f000;
}

.schedule:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: solid 1px #f79321;
  top: 8px;
  left: -34px;
}

.schedule:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #f79321;
  top: 13px;
  left: -29px;
}

.box p {
  margin: 0;
}

/* Tinh so luong */

.colright{
  margin-left: 20px;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 32px rgba(0,0,0,.12);
  
}

.nl, .inputngay{
  
  border-radius: 10px;
  border: #cecece 1px solid;
  padding: 5px;
}

.tien{
  display: flex;

}

.tien button{
  width: 35px;
  height: 35px;
  background-color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.tien button:hover{
  background-color: #cecece;
}
#tinh1, #tinhTreEm1{
  width: 70px;
  height: 35px;
  text-align: center;
}
#tinh, #tinhTreEm{
  width: 40px;
  height: 35px;
  background-color: none;
  outline: none;
  border: 1px solid #ececec;
  text-align: center;
  margin: 0 5px;
}

#txtNgay:hover, .nl:hover{
  border: #3C669E 2px solid;
}

#txtGia,#txtGiaTreEm {
  color: #3C669E;
  font-weight: bold;
}


/* ----------------- Quy new  ----------------- */
.box p{
  line-height: 35px;
  word-spacing: 2px
}
>>>>>>> Quy
